//Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$darkBlue: hsl(234, 12%, 34%);
$lightGray: hsl(0, 0%, 98%);
$grayBlue: hsl(229, 6%, 66%);

//font
$poppinsFont: "Poppins", sans-serif;

//base styling
* {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
  font-family: $poppinsFont;
  background-color: $lightGray;
}

//Header styling
header {
  padding-top: 6rem;

  & h2 {
    font-size: 2.35rem;
    letter-spacing: 1px;
    margin: 0;
    color: $darkBlue;
    height: 50px;

    &:first-child {
      font-weight: 200;
    }
  }

  &.sub-heading {
    color: $darkBlue;
  }

  & h3 {
    color: $grayBlue;
    font-weight: 200;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

//Main container
main {
  padding-top: 4rem;
  display: flex;
  justify-content: center;

  & article {
    margin: 0 1rem;
    position: relative;
    width: 23.333rem;
    height: 16.666rem;
    padding: 2rem;
    text-align: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 3px 30px $grayBlue;
  }

  & article h1 {
    color: $darkBlue;
    margin: 0;
  }

  & article p {
    padding-top: 0.5rem;
    color: $grayBlue;
    line-height: 1.6rem;
    margin: 0;
  }

  & article img {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  & .card-1-cyan {
    border-top: 4px solid $cyan;
    align-self: center;
  }

  & .card-2-red {
    border-top: 4px solid $red;
  }

  & .card-3-orange {
    border-top: 4px solid $orange;
    margin-top: 2rem;
  }

  & .card-4-blue {
    border-top: 4px solid $blue;
    align-self: center;
  }
}

//Footer Styling
footer {
  margin-top: 4rem;

  &.attribution {
    font-size: 11px;
    text-align: center;
  }

  &.attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    width: 375px;
    padding: 0 1rem;
  }

  header {
    padding-top: 5rem;

    & h2 {
      font-size: 1.5rem;
    }

    & h3 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  main {
    flex-direction: column;
    padding-top: 3.5rem;

    & article {
      margin: 0;
      position: relative;
      width: 20rem;
      margin-top: 2rem;
    }

    & .two-card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & .card-1-cyan {
      margin-top: 0;
    }
  }

  footer {
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
